%script{:type => "text/x-handlebars"}
  .navbar
    .navbar-inner
      %a.brand{:href => "#"} Bloggr
      %ul.nav
        %li {{#linkTo 'posts'}}Posts{{/linkTo}}
        %li {{#linkTo 'about'}}About{{/linkTo}}
  {{outlet}}
%script#about{:type => "text/x-handlebars"}
  .about
    %p Justin Gordon wrote this: http://www.railsonmaui.com
    %p Git Repository:
%script#posts{:type => "text/x-handlebars"}
  .container-fluid
    .row-fluid
      .span3
        %table.table
          %thead
            %tr
              %th
                Recent Posts
                {{#linkTo "posts.new" class="btn"}}Add Post{{/linkTo}}
          {{#each post in filteredContent}}
          %tr
            %td
              {{#linkTo post post}}{{post.title}}
              %small.muted by {{post.author}}
              {{/linkTo}}
          {{/each}}
      .span9
        {{outlet}}
%script{:id => "posts/index", :type => "text/x-handlebars"}
  %p.text-warning Please select a post
%script{:id => "posts/new", :type => "text/x-handlebars"}
  %legend Create Post
  {{partial 'post/edit'}}
  <button {{action 'save'}} class='btn'>Create
  <button {{action cancel}} class='btn'>Cancel
  {{partial 'post/view'}}
%script#post{:type => "text/x-handlebars"}
  {{#if isEditing}}
  {{partial 'post/edit'}}
  <button {{action 'doneEditing'}} class='btn'>Done
  {{else}}
  <button {{action 'edit'}} class='btn'>Edit
  <button {{action 'delete'}} class='btn'>Delete
  {{/if}}
  {{partial 'post/view'}}
%script{:id => "post/_view", :type => "text/x-handlebars"}
  %h1 {{title}}
  %h4
    by {{author}}
    %small.muted ({{date publishedAt}})
  %hr
    .intro
      {{markdown intro}}
    .below-the-fold
      {{markdown extended}}
%script{:id => "post/_edit", :type => "text/x-handlebars"}
  %p {{view Ember.TextField valueBinding='title' cols="30"}}
  %p {{view Ember.TextArea valueBinding='intro' cols="50"}}
  %p {{view Ember.TextArea valueBinding='extended' cols="80" rows="10"}}